/* =========================
            GENERAL
   =========================*/
img{
   width: 25px;
}
/* =========================
            CABECERA
   =========================*/
header img{
   width: 75px;
   border-radius: 100%;
   border: 2px solid darkblue;
}
/* ======================
            MAIN
   ======================*/

/* =========================
        PIE DE PÁGINA
   =========================*/